:root {
  @media (prefers-color-scheme: light) {
    --themecolor: rgb(255, 255, 255);
    --txtcolor: rgb(0, 0, 0);
    --btnbgcolor: rgb(0, 191, 255);
    --btntxtcolor: rgb(255, 255, 255);
    --btnbghvcolor: rgb(255, 255, 255);
    --btntxthvcolor: rgb(0, 191, 255);
  }
  @media (prefers-color-scheme: dark) {
    --themecolor: rgb(25, 25, 25);
    --txtcolor: rgb(255, 255, 255);
    --btnbgcolor: rgb(25, 25, 25);
    --btntxtcolor: rgb(0, 191, 255);
    --btnbghvcolor: rgb(0, 191, 255);
    --btntxthvcolor: rgb(255, 255, 255);
  }
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
body {
  background-color: var(--themecolor);
  color: var(--txtcolor);
}
.play-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  div {
    position: relative;
    background-color: var(--btnbgcolor);
    color: var(--btntxtcolor);
    border: 2px solid rgb(0, 191, 255);
    width: 200px;
    height: 50px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 5px;
		transition: 100ms;
		cursor: pointer;
		user-select: none;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    &.hover:hover {
      background-color: var(--btnbghvcolor);
      color: var(--btntxthvcolor);
      transition: 100ms;
		}
		&.active:active {
      background-color: var(--btnbghvcolor);
      color: var(--btntxthvcolor);
      transition: 100ms;
    }
  }
}
