:root {
  @media (prefers-color-scheme: light) {
    --themecolor: rgb(255, 255, 255);
    --txtcolor: rgb(0, 0, 0);
    --btnbgcolor: rgb(0, 191, 255);
    --btntxtcolor: rgb(255, 255, 255);
    --btnbghvcolor: rgb(255, 255, 255);
    --btntxthvcolor: rgb(0, 191, 255);
  }
  @media (prefers-color-scheme: dark) {
    --themecolor: rgb(25, 25, 25);
    --txtcolor: rgb(255, 255, 255);
    --btnbgcolor: rgb(25, 25, 25);
    --btntxtcolor: rgb(0, 191, 255);
    --btnbghvcolor: rgb(0, 191, 255);
    --btntxthvcolor: rgb(255, 255, 255);
  }
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
body {
  background-color: var(--themecolor);
  color: var(--txtcolor);
}
.logo {
  user-select: none;
  cursor: pointer;
  display: inline;
  a {
    text-decoration: none;
    color: var(--txtcolor);
  }
}
.play-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.button {
  position: relative;
  background-color: var(--btnbgcolor);
  border: 2px solid rgb(0, 191, 255);
  width: 250px;
  height: 50px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 100ms;
  cursor: pointer;
  user-select: none;
  a {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--btntxtcolor);
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &.hover:hover {
    background-color: var(--btnbghvcolor);
    transition: 100ms;
    a {
      color: var(--btntxthvcolor);
    }
  }
  &.active:active {
    background-color: var(--btnbghvcolor);
    transition: 100ms;
    a {
      color: var(--btntxthvcolor);
    }
  }
}
.field {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  user-select: none;
  font-size: 4rem;
}
.selectfield {
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  h1 {
    float: left;
    width: 62.5px;
    height: 93.75px;
    font-size: 40px;
    line-height: 250/8 * 3px;
    margin: 10px 10px;
    border-radius: 5px;
    border: 2px solid var(--txtcolor);
    user-select: none;
    &:first-child {
      border-color: rgb(0, 191, 255);
    }
  }
}
#funcbtns {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  > svg {
    fill: var(--txtcolor);
    position: relative;
    cursor: pointer;
    margin: 5px;
  }
  @media screen and (max-width: 399px) {
    top: unset;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
  }
}
#settingfield,
#helpfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: clip-path 1s ease-in-out;
  -webkit-transition: -webkit-clip-path 1s ease-in-out;
  -moz-transition: clip-path 1s ease-in-out;
  clip-path: circle(0 at 50% 50%);
  -webkit-clip-path: circle(0 at 50% 50%);
  -moz-clip-path: circle(0 at 50% 50%);
  pointer-events: none;
  &.active {
    pointer-events: all;
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
    -moz-clip-path: circle(100% at 50% 50%);
  }
  .help {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px 2%;
    box-sizing: border-box;
    line-height: 1.5em;
    & > *:not(h1) {
      text-align: left;
    }
    p {
      font-size: 1.1em;
    }
    a {
      color: white;
    }
  }
  .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    label {
      user-select: none;
      width: 75px;
      height: 75px;
      background-color: var(--themecolor);
      color: var(--txtcolor);
      border-radius: 10px;
      font-size: 30px;
      line-height: 75px;
      transition: 0.1s;
      cursor: pointer;
      margin: 5px;
      p {
        margin: auto;
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked + label {
        background-color: rgb(0, 191, 255);
        color: var(--txthvcolor);
        transition: 0.1s;
      }
    }
  }
  #closesettingbtn,
  #closehelpbtn {
    fill: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
#gamefield {
  user-select: none;
  border-radius: 10px;
}
.gametypeclick {
  border: 2px solid rgb(0, 191, 255);
  cursor: pointer;
}
#resulttable{
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(0, 191, 255);
  border-radius: 5px;
  border-spacing: 0px;
  color: var(--txtcolor);
  font-size: 1.3em;
  td, th{
    border: 1px solid rgb(0, 191, 255);
  }
  td:nth-child(odd){
    width: 40%;
  }
}